/* client/src/pages/CreateThread.css */

.create-thread-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .create-thread-container h2 {
        text-align: center;
        color: #333;
    }
.create-thread-card {
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
}
